<%= form_for @task, url: {action: "create"} do |f| %>
  <%= f.text_field :name %>
  <br/>
  <%= f.text_area :detail, size: "60x12" %>
  <br/>
  <div class="text-right"><%= f.submit "Create" %></div>
<% end %>