<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Todo-list', root_path, class: 'navbar-brand' %>
    <%= form_with class: 'd-flex' %>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    <% end %>
  </div>
</nav>
